@import "material-components-web/material-components-web";
@import './table';

body{
    padding: 0px;
    margin: 0px;
}

#root{
    margin: 0px;
    padding: 0px;
}

#leftNav{
        width: 100%;
        height: 100%;
        background-color: #2D3E4E;
        .mdc-permanent-drawer__content{
            background-color: #2D3E4E;
            .mdc-permanent-drawer__toolbar-spacer{
                color: white;
            }
            .mdc-list{
                color: white;
                a {
                    padding-left: 30px;
                    i {
                        margin-right: 10px;
                        font-size: 1.5em;
                        //color: #268BD2;
                    }
                }
            }
        }
} 

.mdc-layout-grid{
    @include mdc-layout-grid(0px, 0px, 1600px);    
    .mdc-layout-grid__cell{
        padding: 0px;
        margin: 0px;
    }
}

#mainHeader{
    height: 64px;
    display: flex;
    align-items: center;
    input {
        font-family:"Material Design Icons", Roboto;
        width: 100%;
        margin: 0px 20px;
        border: none;
    }
    i {
        font-size: 1.7em;
        margin: 0px 20px;
    }
}

main{
    padding: 20px;
    .mdc-card {
        margin: 0px 0px 20px 20px;
    }
}

#dtposts{
    overflow-x: auto;
}

